*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    min-height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* gap: 5px; */
}

.left{
    height: 100vh;
    flex-basis: 50%;
    align-items: center;
    /* margin: 30px 0px 30px 20px; */
    /* background: #bfdded; */
    background: #7ac7f0;
}

img{
    width: 30vw;
    object-fit: cover;
    margin-top: 10vh;
    margin-left: 10vw;
    mix-blend-mode: multiply;
}

.right{
    height: 100vh;
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f0f8ff;
    /* margin: 30px 20px 30px 0px; */
}

.login-form {
    width: 35vw;
}

.login-form h1{
    justify-self: center;
    margin-bottom: 8px;
}

 .welcome-message{
    justify-self: center;
    margin-bottom: 10px;
    color: darkgrey;
}

.form-box{
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-bottom: 10px;
}

.form-box label{
    margin: 8px 0px;
    font-size: 0.8rem;
    color: #3d3c3c;
}

.form-box input{
    padding: 8px;
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 35vw;
}

.form-box input:focus{
    outline: 2px solid #d3d2d2;
}

.form-box button{
    align-self: center;
    padding: 8px;
    border-radius: 10px;
    border: none;
    height: 52px;
    width: 30vw;
    background-color: #06A8FF;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}

.form-box button:hover{
    background-color: #0b5e8c;
    border: 2.5px solid #00a6ff;
    transition: all 1s ease-in-out;
}

.form-box a{
    text-decoration: none;
    color: #3d3c3c;
    font-size: 0.8rem;
    align-self: flex-end;
}

.form-box a:hover{
    color: #0b5e8c;
}

.register-text{
    margin-top: 50px;
    font-size: 0.8rem;
    text-align: center;
    color: #3d3c3c;
}

.register-text a{
    text-decoration: none;
    color: #06A8FF;
}

.register-text a:hover{
    color: #0b5e8c;
}


